{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calendar</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles/styles.css' %}">

</head>
<body>
    <div class = "container">
        <h2>Your Calendar</h2>
        <form method = "POST" action="{% url 'create_circle'%}">
            {% csrf_token %}
            {{form.as_p}}
            <button type = 'submit'>Update your Calendar</button>
        </form>
    </div>
</body>
</html>