{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calendar</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles/styles.css' %}">

</head>
<body>
    <div class = "container">
        <h2>Your Calendar</h2>
        <form method = "POST" action="{% url 'calendar'%}">
            {% csrf_token %}
            {{form.as_p}}
            <button type = 'submit'>Update your Calendar</button>
        </form>
    </div>

    <div class = "container">
        <h3>Your Schedule</h3>
        {% if events %}
            <ul>
                {% for i in events %}
                <li>
                    <strong>{{i.event.name}}</strong> — {{ e.start_time|date:"M d, Y H:i"}} to {{ e.end_time|date:"M d, Y H:i" }}
                    <p>{{e.event_description}}</p>                    
                </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No events added yet. Update your calendar!</p>
        {% endif %}
    </div>
</body>
</html>
