{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles/styles.css' %}">

</head>
<body>
    <div class="container">
        <h2>Home</h2>
        <p>Welcome, {{request.user.username}}!</p>
        <a href="{% url 'protected' %}">Go to your protected page!</a>
        <form method="POST" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit">Logout</button>
        </form>

    </div>
    {# CIRCLES LIST  #}
    <div>
        <p>Check on your circles!</p>

        {% if memberships %} 
            
            {% for i in memberships %}

                <p>{{i.circle.circle_name}}</p>

            {% endfor %}
        {% else %}
        <p>No Circles yet! Join a Circle!</p>
        {% endif %}
    </div>

    <div>
        <form method = "POST" action="{% url 'create_circle' %}">
            {% csrf_token %}
            <button type = "submit">Create Circle</button>
        </form>

    </div>
</body>
</html>