{% extends 'base.html' %}
{% block title %}Register{% endblock %}
{% block content %}
<div class="card bg-base-100 w-full max-w-md mx-auto mt-10">
    <form method="POST" action="{% url 'register' %}" class="card-body styled-form">
        {% csrf_token %}
        <h1 class="text-3xl font-light mb-2">Create your account</h1>
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary w-full mt-2">Register</button>
        <p class="text-sm text-center mt-2">
            Already have an account?
            <a href="{% url 'login' %}" class="link font-medium">Login</a>
        </p>
    </form>
</div>
{% endblock %}